body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

h2 {
    color: rgb(255, 107, 131);
    text-align: center;
    margin-bottom: 20px;
}

.option {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.option input[type="radio"] {
    margin-right: 10px;
    margin-top: 12px;
    accent-color: rgb(255, 107, 131);
}

.option-details {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-wrap: wrap;
}

.label-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}

.label-container>label {
    display: flex;
    align-items: center;
}


.special-price-text {
    background-color: #fff0f5;
    font-size: 0.85em;
    margin-top: 4px;
    align-self: flex-start;
}

.discount {
    background-color: rgb(255, 107, 131);
    color: white;
    padding: 4px 3px 2px 3px;
    font-size: 0.7em;
    margin-left: 10px;
}



.price-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.price {
    font-weight: bold;
    font-size: 1.1em;
}

.original-price {
    color: rgb(255, 107, 131);
    text-decoration: line-through;
    font-size: 0.9em;
}

.popular {
    background-color: rgb(255, 107, 131);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8em;
    position: absolute;
    top: -10px;
    right: 10px;
}

.two-units-options {
    width: 100%;
    margin-top: 10px;
    display: none;
}

.unit-selection {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.unit-selection label {
    margin-right: 5px;
    font-size: 0.9em;
}

.unit-selection select {
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;

}

.after-label {
    display: flex;
    justify-content: space-between;
}

.free-delivery {
    color: rgb(255, 107, 131);
    margin-top: 15px;
}

.total {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
}

.add-to-cart {
    background-color: rgb(255, 107, 131);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart span {
    margin-left: 5px;
}

.company-label {
    text-align: right;
    font-size: 0.8em;
    color: #888;
    margin-top: 10px;
}

.option.selected {
    border: 2px solid rgb(255, 107, 131);
    box-shadow: 0 0 0 2px rgba(255, 107, 131, 0.2);
}

.option {
    border: 1px solid #ddd; 
}